.fixed_menu {
  width: 100%;
  background-color: white;
  box-shadow: 0px -2px 6px 0 rgba(0,0,0,0.4);
  padding: 0 20px;
  height: 65px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &_item {
    display: flex;
    align-items: center;
    &.talk {
      width: 60%;
    }
    &.clip {
      width: 35%;
    }
  }
  &_icon {
    width: 50px;
  }
  &_annotation {
    width: calc(100% - 55px);
  }
}